/*I tried to use all svg elements that were used during the video*/
/*And tried to apply multiple values and colors to understand what each property does*/

.SVG {
    position: absolute;
    width: 200px;
    height: 60px;
    color: #0d09ed;
    text-align: center;
    line-height: 60px;
    transition: 0.5s;
}

.SVG > svg, .SVG > svg > rect {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
    transition: 1s;
}

.SVG > svg > rect {
    stroke: #0d09ed;; 
    stroke-width: 4px;
    stroke-dasharray: 50.4;
    stroke-dashoffset: 520;
}

.SVG:hover svg rect {
    stroke-dashoffset: 0; 
}

.SVG:hover {
    background: #ff6600; 
    transition-delay: 1s;
    color: pink; 
}


